body {
  background-image: url(images/wood-material-background-lighter_1528x1200px.jpg);
}

#dashboard {
  display: grid;
  position: absolute;
  left: 11vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 78vw;
  height: 85vh;
}
h1 {
  font-family: Bungee Shade;
  text-align: center;
}
h2 {
  font-family: Bungee Shade;
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
}
section {
  position: relative;
  margin: 0px 10px 10px 0px;
  background-color: #08737b;
}
article {
  width: 94%;
  height: 90%;
  background-color: #f4ede5;
  position: absolute;
  top: 5%;
  left: 3%;
  border-radius: 2%;
}
.hidden {
  display: none;
}
/* Poster Decorations */
main img {
  position: absolute;
  z-index: -5;
}
main img:nth-child(2) {
  left: 34%;
  top: 0%;
}
main img:nth-child(3) {
  left: 8vw;
  top: 8.5vh;
}
main img:nth-child(4) {
  left: 82vw;
  top: 8.5vh;
}

/* Beer Labels */

main img:nth-child(6) {
  top: 27vh;
  left: 1vw;
}
main img:nth-child(7) {
  top: 50vh;
}
main img:nth-child(8) {
  top: 68vh;
}
main img:nth-child(9) {
  left: 91vw;
}

main img:nth-child(10) {
  left: 91vw;
  top: 31vh;
}
main img:nth-child(11) {
  left: 89vw;
  top: 55vh;
}
main img:nth-child(12) {
  left: 89vw;
  top: 70vh;
}

/* Queue graph */

#container img {
  float: left;
  width: 50px;
}
#container {
  margin-left: 20px;
  position: relative;
}
#legend {
  position: absolute;
  top: 63%;
  left: 80%;
}
#legend img {
  width: 35px;
}
#queue-background {
  position: relative;
}
#green,
#red,
#yellow {
  display: inline-block;
  text-align: center;
}
#green p,
#red p,
#yellow p {
  margin: 0;
}
