body {
  background-image: url(images/wood-material-background-lighter_1528x1200px.jpg);
}

#dashboard {
  display: grid;
  position: absolute;
  left: 11vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 78vw;
  height: 85vh;
}
h1 {
  font-family: Bungee Shade;
  text-align: center;
}
h2 {
  font-family: Bungee Shade;
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
}
section {
  position: relative;
  margin: 0px 10px 10px 0px;
  background-color: #08737b;
}
article {
  width: 94%;
  height: 90%;
  background-color: #f4ede5;
  position: absolute;
  top: 5%;
  left: 3%;
  border-radius: 2%;
}
.hidden {
  display: none;
}
/* Poster Decorations */
main img {
  position: absolute;
  z-index: -5;
}
main img:nth-child(2) {
  left: 34%;
  top: 0%;
}
main img:nth-child(3) {
  left: 8vw;
  top: 8.5vh;
}
main img:nth-child(4) {
  left: 82vw;
  top: 8.5vh;
}

/* Beer Labels */

main img:nth-child(6) {
  top: 27vh;
  left: 1vw;
}
main img:nth-child(7) {
  top: 50vh;
}
main img:nth-child(8) {
  top: 68vh;
}
main img:nth-child(9) {
  left: 91vw;
}

main img:nth-child(10) {
  left: 91vw;
  top: 31vh;
}
main img:nth-child(11) {
  left: 89vw;
  top: 55vh;
}
main img:nth-child(12) {
  left: 89vw;
  top: 70vh;
}

/* Queue graph */

#container img {
  float: left;
  width: 46px;
}
#container {
  margin-left: 20px;
  position: relative;
  grid-row: 2;
  grid-column: 1;
}
#legend {
  position: absolute;
  top: 54%;

  grid-row: 2;
  grid-column: 2;
}
#legend img {
  width: 35px;
}
#queue-background {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
}
#green,
#red,
#yellow {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}
#green p,
#red p,
#yellow p {
  margin: 0;
  font-size: 15pt;
}
td {
  padding: 1em 3em 1em 2em;
  font-family: "Comfortaa", cursive;
}
table {
  padding-top: 3em;
}
.container {
  display: grid;
}

img {
  width: 50px;
  height: auto;
}
.one,
.two,
.three,
.four,
.five {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  padding: 1em;
}
#stock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "h1 h1" "arti1 arti2";
}
h3 {
  font-family: "Comfortaa", cursive;
  font-size: 0.8em;
}
.bartenders {
  width: 20%;
  height: auto;
  padding-left: 1em;
}
.manspic {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1em 1em 0 0;
}
.container {
  grid-area: arti1;
}
.container2 {
  grid-area: arti2;
}
.h1 {
  grid-area: h1;
}
